.marquee-wrapper {
  display: flex;
  align-items: center;
  animation: marquee-move linear infinite;
  animation-duration: var(--marquee-duration, 20s);
  will-change: transform;
}

@keyframes marquee-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* optional pause on hover */
.marquee-area:hover .marquee-wrapper {
  animation-play-state: running;
}

/* basic slide styling */
.swiper-slide {
  flex: 0 0 auto;
  margin-right: 20px;
}

.marquee-area .swiper,
.marquee-area .swiper-wrapper,
.marquee-area .swiper-slide {
  display: flex;
  align-items: center;
  background: #f4f6f8;
}


.marquee-area {
  /* height: 250px; */
  overflow: hidden;
  width: 100%;
  display: flex
}

.color-masking {
  height: 100%;
  display: flex;
  align-items: center;
}

.color-masking img {
  height: 75px;  
  width: auto;
  object-fit: contain;
}
